* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: auto;
  padding: 15rem;
}
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  border: none;
}

img {
  width: 6rem;
}

h3 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

input {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: solid gray 0.2rem;
  background-color: azure;
  height: 2rem;
}

button {
  margin-top: 1rem;
  width: 7rem;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.3rem;
}

#sign {
  background-color: blue;
  color: azure;
  border: none;
  font-size: 1rem;
}

#create {
  border: solid gray 0.1rem;
}

a {
  text-decoration: none;
  color: currentColor;
  margin: 0.5rem;
}
